<h1>Add a route</h1>
<form action="/runRoute" method="post">

    <label for="image">Image: </label>
    <input type="text" name="image" placeholder="paste an img url here" />
    <br />

    <label for="title">Title: </label>
    <input type="text" name="title" />
    <br />

    <label for="date">Date: </label>
    <input type="date" name="date" />
    <br />

    <label for="time">Time: </label>
    <input type="text" name="time" />
    <br />

    <label for="location">Location: </label>
    <input type="text" name="location" />
    <br />

    <label for="startingPoint">Starting point: </label>
    <input type="text" name="startingPoint" />
    <br />

    <label for="distance">Distance: </label>
    <input type="text" name="distance" />
    <br />

    <label for="duration">Duration: </label>
    <input type="text" name="duration" />
    <br />

    <label for="pace">Pace: </label>
    <input type="text" name="pace" />
    <br />

    <label for="difficultyLevel">Difficulty level: </label>
    <input type="text" name="difficultyLevel" />
    <br />

    <label for="oranizer">Organizer: </label>
    <input type="text" name="organizer" />
    <br />

    <button type="submit">Add this route</button>

</form>