<h1>Add a route</h1>
<form action="/runRoute" method="post">

    <label for="name">Name: </label>
    <input type="text" name="name" />

    <label for="place">Place: </label>
    <input type="text" name="place" />

    <label for="time">Time: </label>
    <input type="number" name="time" />

    <button type="submit">Add this route</button>

</form>