@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: rgba(208, 224, 244, 0.723);
    color: rgba(4, 16, 31, 0.723);
}

.main-page-routes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

a {
    font-size: 30px;
    color: #444849;
}

h1 {
    color: 444849;
    text-align: center;
    margin-top: 20px;
}
p {
    text-align: center;
    font-size: 40px;
    color: #444849;
}

.card-img-top {
    width: 500px;
    height: 350px;
}

.card-body {
    background-color: aliceblue;
}

.card {
    margin: 20px;
    display: flex;
    justify-content: space-around;
    width: 500px;
}

.collapse navbar-collapse {
    background-color: rgb(225, 170, 219);
}

/* .all-the-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */

.bg-image {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://cdn.discordapp.com/attachments/1099951280627122176/1100711622307225671/jozsef-hocza-BTur1pF9FR0-unsplash.jpg");
    height: 120vh;
    background-position: center;
    background-size: cover;
}
.runandfun {
    color: aliceblue;
    font-size: 80px;
    font-style: normal;
}
.profileInfo {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}
.profileInfo h6 {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
}
.container {
    text-align: center;
}

.attend-card {
    margin: 20px;
    display: flex;
    justify-content: space-around;
    width: 1200px;
    text-align: center;
}

footer {
    text-align: center;
    font-size: 1.5rem;
    color: 444849;
}

.btn-confirm {
    justify-content: end;
    position: fixed;
    font-size: 1.5rem;
}

.social-share-btns-container {
    overflow: hidden;
    position: absolute;
    left: 0;
    font-size: 0;
    top: 50%;
    margin: 10px 0;
    text-align: center;
    width: 100%;
    z-index: 111;
}

.social-share-btns {
    display: inline-block;
    overflow: hidden;
    .share-btn {
        float: left;
        margin: 20px 5px;
        padding: 8px 16px;
        border-radius: 3px;
        color: #fff;
        font-size: 14px;
        line-height: 18px;
        vertical-align: middle;
        @include transition(background 0.2s ease-in-out);

        i {
            margin-right: 5px;
            display: inline-block;
            font-size: 18px;
            vertical-align: middle;
        }
    }
}

// Colors
.share-btn {
    background-color: #95a5a6;
    &:hover {
        background-color: darken(#95a5a6, 10%);
    }
}
.share-btn-twitter {
    background-color: #00aced;
    &:hover {
        background-color: darken(#00aced, 10%);
    }
}
.share-btn-facebook {
    background-color: #3b5998;
    &:hover {
        background-color: darken(#3b5998, 10%);
    }
}
.share-btn-linkedin {
    background-color: #007bb6;
    &:hover {
        background-color: darken(#007bb6, 10%);
    }
}
.share-btn-reddit {
    background-color: #ed001c;
    &:hover {
        background-color: darken(#ed001c, 10%);
    }
}

.share-btn-mail {
    background-color: #f1c40f;
    &:hover {
        background-color: darken(#f1c40f, 5%);
    }
}

.main-page-attend {
    display: flex;
    justify-content: center;
}

.attending-events {
    float: right;
    width: 30%;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cancel-btn {
    font-size: 20px;
}

.cancel-btn:hover {
    color: #007bb6;
}
