body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: rgba(208, 224, 244, 0.723);
    color: rgba(4, 16, 31, 0.723);
}

.main-page-routes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

a {
    font-size: 30px;
    color: #444849;
}

h1 {
    color: 444849;
    text-align: center;
    margin-top: 20px;
}
p {
    text-align: center;
    font-size: 40px;
    color: #444849;
}

.card-img-top {
    width: 500px;
    height: 350px;
}

.card-body {
    background-color: aliceblue;
}

.card {
    margin: 20px;
    display: flex;
    justify-content: space-around;
    width: 500px;
}

.collapse navbar-collapse {
    background-color: rgb(225, 170, 219);
}

/* .all-the-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */

.bg-image {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://cdn.discordapp.com/attachments/1099951280627122176/1100711622307225671/jozsef-hocza-BTur1pF9FR0-unsplash.jpg");
    height: 120vh;
    background-position: center;
    background-size: cover;
}
.runandfun {
    color: aliceblue;
    font-size: 80px;
    font-style: normal;
}
.profileInfo {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}
.profileInfo h6 {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
}
.container {
    text-align: center;
}

.attend-card {
    margin: 20px;
    display: flex;
    justify-content: space-around;
    width: 1200px;
}

footer {
    text-align: center;
    font-size: 1.5rem;
    color: 444849;
}

.btn-confirm {
    justify-content: end;
    position: fixed;
    font-size: 1.5rem;
}
