<h1>Add a route</h1>
<form action="/runRoute" method="post">

   <div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <tbody>
          <tr>
            <td><label for="image">Image:</label></td>
            <td><input type="text" class="form-control" id="image" name="image" placeholder="Paste an img url here"></td>
          </tr>
          <tr>
            <td><label for="title">Title:</label></td>
            <td><input type="text" class="form-control" id="title" name="title"></td>
          </tr>
          <tr>
            <td><label for="date">Date:</label></td>
            <td><input type="date" class="form-control" id="date" name="date"></td>
          </tr>
          <tr>
            <td><label for="time">Time:</label></td>
            <td><input type="text" class="form-control" id="time" name="time"></td>
          </tr>
          <tr>
            <td><label for="location">Location:</label></td>
            <td><input type="text" class="form-control" id="location" name="location"></td>
          </tr>
          <tr>
            <td><label for="startingPoint">Starting point:</label></td>
            <td><input type="text" class="form-control" id="startingPoint" name="startingPoint"></td>
          </tr>
          <tr>
            <td><label for="distance">Distance:</label></td>
            <td><input type="text" class="form-control" id="distance" name="distance"></td>
          </tr>
          <tr>
            <td><label for="duration">Duration:</label></td>
            <td><input type="text" class="form-control" id="duration" name="duration"></td>
          </tr>
          <tr>
            <td><label for="pace">Pace:</label></td>
            <td><input type="text" class="form-control" id="pace" name="pace"></td>
          </tr>
          <tr>
            <td><label for="difficultyLevel">Difficulty level:</label></td>
            <td><input type="text" class="form-control" id="difficultyLevel" name="difficultyLevel"></td>
          </tr>
          <tr>
            <td><label for="organizer">Organizer:</label></td>
            <td><input type="text" class="form-control" id="organizer" name="organizer"></td>
          </tr>
           <tr>
            <td><label for="attendees">Attendees:</label></td>
            <td><input type="number" class="form-control" id="attendees" name="attendees"></td>
          </tr>
        </tbody>
      </table>
      <button type="submit" class="btn btn-primary">Add this route</button>
    </div>
    <div class="col-md-6">
      <img src="your-image-source.jpg" class="img-fluid" alt="Your Image">
    </div>
  </div>
</div>


</form>